@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body {
   font-family: 'Poppins', sans-serif;
}

img {
   max-width: 100%;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

header {
   display: flex;
   align-items: center;
   min-height: 80vh;
   background-color: #f8e9f0;
   padding: 70px 0;
}

.menu {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu .navbar ul li {
   position: relative;
   float: left;
}

.menu .navbar ul li a {
   font-size: 18px;
   padding: 20px;
   color: #ec297b;
   display: block;
   font-weight: 600;
   text-transform: uppercase;
}

#menu {
   display: none;
}

.menu-icon {
   width: 25px;
}

.menu label {
   cursor: pointer;
   display: none;
}

.submenu {
   position: relative;
}

.submenu #carrito {
   display: none;
}

.submenu:hover #carrito {
   display: block;
   position: absolute;
   right: 0;
   backdrop-filter: blur(10px);
   top: 100%;
   z-index: 1;
   background-color: #000;
   padding: 20px;
   min-width: 400px;
}

table {
   width: 100%;
}

th,
td {
   color: #ffffff;
}

.limpiar-carrito {
   background-color: #eb9cbb;
   border-radius: 50%;
   padding: 5px 10px;
   text-decoration: none;
   color: #ffffff;
   font-weight: 800;
   cursor: pointer;
}

.header-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 1;
   padding: 0 100px;
}

.header-img {
   flex-basis: 50%;
   text-align: center;
}

.header-txt {
   flex-basis: 50%;
   text-align: center;
}

.header-txt h1 {
   font-size: 85px;
   line-height: 1;
   color: #ec297b;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 15px;
   text-transform: uppercase;
}

.header-txt p {
   font-size: 20px;
   margin-bottom: 20px;
   font-weight: 500;
}

.btn-1 {
   display: inline-block;
   padding: 11px 25px;
   background-color: #000;
   color: #ffffff;
   font-size: 20px;
   border-radius: 9px;
   font-weight: 500;
}

.btn-1:hover {
   background-color: #f03c58;
}

.ofert {
   margin-top: 20px;
   padding: 20px 0 0 0;
   display: flex;
   justify-content: space-between;
}

.ofert-1 {
   display: flex;
   align-items: center;
   flex-basis: calc(33.3% - 15px);
   padding: 35px;
   transition: transform 0.6s ease;
}

.ofert-1:hover {
   transform: translateY(-20px);
}

.ofert-img {
   flex-basis: 50%;
   margin-right: 15px;
}

.ofert-img img {
   width: 250px;
}

.ofert-txt {
   flex-basis: 50%;
   text-align: center;
}

.ofert-text h3 {
   color: #000;
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   text-transform: uppercase;
   margin-bottom: 15px;
}

.btn-2 {
   display: inline-block;
   padding: 7px 10px;
   background-color: #ec297b;
   color: #ffffff;
   border-radius: 5px;
   font-size: 18px;
}

.btn-2:hover {
   background-color: #f03c58;
}

.product {
   padding: 50px 0;
   text-align: center;
}

.product h2 {
   color: #000;
   font-family: 'Montserrat';
   font-size: 50px;
   text-transform: uppercase;
   margin-bottom: 50px;
}

.product-content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
}

.products {
   text-align: center;
   padding: 30px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.animation2 {
   transition: transform 0.6s ease;
}

.animation2:hover {
   transform: translateY(-20px);
}

.product img {
   width: 250px;
   height: 370px;
   margin-bottom: 20px;
}

.product h3 {
   font-size: 25px;
   text-transform: uppercase;
   color: #ec297b;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 15px;
}

.product p,
.precio {
   font-size: 19px;
   color: #000;
   margin-bottom: 15px;
}

.precio {
   font-weight: 800;
}

.icons {
   padding: 50px 0 100px 0;
   display: flex;
   justify-content: space-between;
}

.icon-1 {
   flex-basis: calc(33.3% - 30px);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 25px;
   background-color: #f6db97;
}

.icon-txt h3 {
   font-size: 20px;
   color: #000;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
}

.icon-txt p {
   font-size: 16px;
   color: #000;
}

.blog {
   display: flex;
   justify-content: space-between;
   padding-bottom: 100px;
}

.blog-1 {
   flex-basis: calc(33.3% - 30px);
}

.blog-1 img {
   margin-bottom: 20px;
}

.blog-1 h3 {
   font-size: 20px;
   color: #ec297b;
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   margin-bottom: 15px;
}

.blog-1 p {
   font-size: 16px;
   color: #202020;
}

.footer {
   padding: 50px 0;
   background-color: #f6db97;
}

.footer-content {
   display: flex;
   justify-content: space-between;
}

.link {
   font-size: 18px;
   color: #ec297b;
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.link a {
   font-size: 16px;
   color: aquamarine;
   display: block;
   margin-bottom: 10px;
}

@media (max-width: 991px) {
   .menu {
      padding: 20px;
   }

   .menu label {
      display: initial;
   }

   .menu .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #eb9cbb;
      display: none;
      margin-right: -100% !important;
   }

   .menu .navbar ul li {
      width: 100%;
   }

   .menu ul li a {
      color: chocolate;
   }

   #menu:checked~.navbar {
      display: initial;
   }

   .logo {
      display: none;
   }

   .submenu:hover {
      min-width: 100%;
   }

   .header {
      min-height: 0vh;
   }

   .header-content {
      padding: 50px 0;
      flex-direction: column;
   }

   .header-img {
      display: none;
   }

   .header-txt {
      flex-basis: 100%;
      text-align: center;
   }

   .header-txt h1 {
      font-size: 70px;
   }

   .ofert {
      padding: 30px 30px 0 30px;
      flex-direction: column;
   }

   .ofert-1 {
      margin-bottom: 30px;
   }

   .product {
      padding: 0 30px 30px 30px;
   }

   .product h2 {
      margin-bottom: 30px;
      font-size: 40px;
   }

   .product-content {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
   }

   .products img {
      width: 200px;
      height: 280px;
   }

   .icons {
      padding: 30px;
      flex-direction: column;
   }

   .icon-1 {
      margin-bottom: 30px;
   }

   .blog {
      padding: 0 30px 30px 30px;
      flex-direction: column;
   }

   .blog-1 {
      margin-bottom: 30px;
   }

   .footer {
      padding: 30px;
   }

   .footer-content {
      flex-direction: column;
      text-align: center;
   }

}